*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav > ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    color: black; 
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25;
    padding-right: 25px;
}
.container nav ul{
    font-size: x-small;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    font-size: x-small;
}
.col-2 img{
    max-width: 80%;
    padding: 2px 0;
}
.col-2 h1{
    font-size: 20px;
    margin: px 0;
    padding: 25px;
}
.col-2 p{
    padding: 25px;
    padding-top: 1px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 7px 25px;
    margin: 20px 0;
    border-radius: 30px;
}
.header{
    background: radial-gradient(#);
}

